/*------------------------------------------------------------------
Project:		kodekit Theme
Version:		1.0.0
Last change: 	19/12/10
-------------------------------------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "partials/var.css";
@import "partials/header.css";
/*@import "partials/search.css";*/
@import "partials/docs-content.css";
@import "partials/docs-post.css";
/* @import "partials/cssref.css"; */
@import "partials/sidebar.css";
@import "partials/highlighter.css";
/*@import "partials/tooltip.css";*/
@import "partials/keyframes.css";
@import "partials/fontello.css";
@import "site.css";
/* @import "partials/docscssref.css"; */

.content-stretch {
    align-content: stretch;
}

.self-baseline {
    align-self: baseline;
}

.border-groove {
    border-style: groove;
}

.border-box {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}

.blur-up {
    filter: blur(5px);
    transition: filter 1s;
}

/*! purgecss start ignore */
.button__clipboard {
    @apply text-xs text-white bg-blue-400 rounded-sm py-3px px-3 ml-auto;

    &:hover {
        @apply bg-blue-500;
    }
}

.button__clipboard {
    display: block;
}

.blur-up.lazyloaded {
    filter: blur(0);
}

.bg-purple {
    background: linear-gradient(rgba(156, 39, 176, .2), #fff);
}

.bg-orange {
    background: linear-gradient(rgba(255, 138, 0, .2), #fff);
}

/*! purgecss end ignore */

/* content/css/panduan-grid.md*/
.gtr-50px-100px {
    grid-template-rows: 50px 100px;
}

.gtc-90px-50px-120px {
    grid-template-columns: 90px 50px 120px;
}

.gtc-1fr-1fr-2fr {
    grid-template-columns: 1fr 1fr 2fr
}

.gtc-3rem-25pr-1fr-2fr {
    grid-template-columns: 3rem 25% 1fr 2fr
}

.gtr-minmax-100px-auto {
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, 50%) 1fr 3em;
}

.gtr-repeat-4-100px {
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 1fr);
}

.gtc-30px-repeat-3-1fr-30px {
    grid-template-columns: 30px repeat(3, 1fr) 30px
}

.gap-100px-em {
    grid-gap: 100px 1em
}

.text-arabic,
.text-matan,
.text-sarah,
.text-khat,
.text-pegon {
    direction: rtl;
}

.text-arabic,
.text-matan {
    @apply font-arabic font-medium text-xl text-gray-800 leading-tallest mb-6;
}

.text-sarah {
    @apply font-body font-medium text-xl text-gray-800 leading-tallest mb-6;
}

.text-khat {
    @apply font-arabic font-bold text-xl text-gray-800 text-center leading-tallest mb-6;
}

.text-pegon {
    @apply font-body text-base not-italic text-gray-700 absolute w-56 top-12 transform -rotate-15;
}

@screen lg {
	.text-khat,
	.text-arabic,
	.text-matan {
		@apply text-2xl;
	}
	
	.text-sarah {
		@apply text-2xl;
	}
}

.text-rujuk {
    @apply inline-block text-xs text-red-500 absolute top-0 w-4 right-4 border border-solid border-red-500 rounded-full py-2 px-2;
}

.text-sup,
.text-sub {
    @apply text-xs text-red-500 absolute w-4 -right-2;
}

.text-sup {
    @apply top-1;
}

.text-sub {
    @apply top-6;
}


