{{- $recent := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}

{{- if $recent }}
<section class="sidebar-widget widget-recent border border-t-0 border-solid border-gray-300 pb-4 mb-8">
    <div class="widget-header text-center pt-2 border-t border-solid border-red-400 mb-6">
        <h3 class="text-base uppercase font-body border-b border-solid border-gray-300 pb-2 mb-0">{{ T "recent_title" }}</h3>
    </div>
    {{- range first $recent_num $recent }}
    <div class="widget-post px-4 mb-3">
        <div class="grid grid-cols-6 gap-6">
            {{ if .Params.thumbnail }}
            <div class="widget-post__media col-span-2 pt-6px mb-4">
                <figure class="relative pt-4-3">
                    <img class="widget-post__img absolute w-full h-full top-0 right-0 object-cover"
                        src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                </figure>
            </div>
            {{ end }}
            <div class="widget-post__body col-span-4">
                <p class="widget-post__title mb-0">
                    <a href="{{ .RelPermalink }}"
                        class="font-bold text-gray-900 hover:text-gray-600">{{ .Title }}</a>
                </p>
                <div class="widget-post__meta">
                    {{ $baseUrl := .Site.BaseURL }} {{ range first 1 .Params.categories }}
                    <a class="text-2xs text-red-400 leading-normal uppercase hover:no-underline"
                        href="{{ $baseUrl }}{{ . | urlize }}">{{ . }}</a>{{ end }}
                    <time class="text-2xs text-gray-500"> -
                        {{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</section>
{{- end }}