{{- if .Site.Params.widgets.social }}
<section class="sidebar-widget widget-recent border border-t-0 border-solid border-gray-300 pb-4 mb-8">
    <div class="widget-header text-center pt-2 border-t border-solid border-red-400 mb-6">
        <h3 class="text-base uppercase font-body border-b border-solid border-gray-300 pb-2 mb-0">{{ T "social_title" }}</h3>
    </div>
    <div class="widget__social-content flex items-center justify-between px-4">
        {{- with .Site.Params.widgets.social.facebook }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="Facebook" rel="noopener noreferrer"
                href="https://facebook.com/{{ . }}" target="_blank">
                {{ partial "svg/icon-facebook.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}
        {{- with .Site.Params.widgets.social.twitter }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="Twitter" rel="noopener noreferrer" href="https://twitter.com/{{ . }}"
                target="_blank">
                {{ partial "svg/icon-twitter.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}
        {{- with .Site.Params.widgets.social.instagram }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="Instagram" rel="noopener noreferrer"
                href="https://www.instagram.com/{{ . }}" target="_blank">
                {{ partial "svg/icon-instagram.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}
        {{- with .Site.Params.widgets.social.pinterest }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="LinkedIn" rel="noopener noreferrer"
                href="https://linkedin.com/in/{{ . }}" target="_blank">
                {{ partial "svg/icon-pinterest.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}
        {{- with .Site.Params.widgets.social.telegram }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="Telegram" rel="noopener noreferrer" href="https://t.me/{{ . }}"
                target="_blank">
                {{ partial "svg/icon-telegram.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}
        {{- with .Site.Params.widgets.social.github }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="GitHub" rel="noopener noreferrer" href="https://github.com/{{ . }}"
                target="_blank">
                {{ partial "svg/icon-github.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}
        {{- with .Site.Params.widgets.social.gitlab }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="GitLab" rel="noopener noreferrer" href="https://gitlab.com/{{ . }}"
                target="_blank">
                {{ partial "svg/icon-gitlab.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}
        {{- with .Site.Params.widgets.social.rss }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="Bitbucket" rel="noopener noreferrer"
                href="https://bitbucket.org/{{ . }}" target="_blank">
                {{ partial "svg/icon-rss.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}
        {{- with .Site.Params.widgets.social.email }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="Email" href="mailto:{{ . }}">
                {{ partial "svg/icon-envelope.svg" (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
            </a>
        </div>
        {{- end }}

        {{ range .Site.Params.widgets.social.custom }}
        <div class="widget__social-item border border-solid border-gray-400 rounded-full p-2">
            <a class="widget__social-link" title="{{ .title }}" rel="noopener noreferrer" href="{{ .url }}"
                target="_blank">
                {{- if .icon }}
                {{ partial .icon (dict "class" "widget__social-icon w-4 h-4 text-gray-700 hover:text-red-400") }}
                {{- end }}
            </a>
        </div>
        {{ end }}
    </div>
</section>
{{- end }}