{{ define "main" }}
<main id="site-main" class="grid-content">
    <div class="grid-wrapper grid-col-2">
        <div class="grid--full breadcrumb">
            <span><a href="{{ .Site.BaseURL }}"><i class="icon-home"></i>Home</a><i class="icon-angle-right"></i></span>{{ $baseUrl := .Site.BaseURL }} {{ range first 1 .Params.produk }}
            <span class="breadcrumb-model"><a class="breadcrumb-link" href="{{ $baseUrl }}produk/{{ . | urlize }}">{{ . }}</a><i class="icon-angle-right"></i></span>{{ end }}
            <span>{{ .Title }}</span>
        </div>
    </div>
    <div class="product">
        <div class="product-media">
            
            <div class="slider-wrapper">
              
                
                
                <div class="slider-for">
                    {{ if .Params.images }} {{ range .Params.images }}
                    <div class="slider-for__item ex1">
                        <img  class="product__image" src="{{ . | relURL }}" alt="image slider" />
                    </div>
                    {{ end }} {{ end }}
                </div>
                <div class="slider-nav">
                    {{ if .Params.images }} {{ range .Params.images }}
                    <div class="slider-nav__item">
                        <img src="{{ . | relURL }}" alt="image slider" />
                    </div>
                    {{ end }} {{ end }}
                </div>
            </div>

            <div class="image-slider">
                <div class="image-slider__container" style="left:-600px;">
                    {{ if .Params.images }} {{ range .Params.images }}
                    <div class="image-slider__item">
                        <img class="image-slider__image" src="{{ . | relURL }}" />
                    </div>{{ end }} {{ end }}
                </div>
                <div class="image-slider__navigation">
                    {{ if .Params.images }} {{ range .Params.images }}
                    <a class="image-slider__navigation-item" href="#" data-slide="{{ . }}">
                        <img src="{{ . | relURL }}" alt="image slider" />
                    </a>
                    {{ end }} {{ end }}
                </div>
            </div>




        </div>
        <div class="product-info">
            
            <div class="product-desc">
               
               <h1 class="product-title product__name">{{ .Title }}</h1>
                
              

                {{ if .Params.price }}
                <h3 class="product-price product__price">{{ .Params.price }}</h3>{{ else }} {{ with .Params.size }} {{ range first 1 . }}
                <h3 class="product-price product__price">{{ .price }}</h3>{{ end }} {{ end }} {{ end }}



                {{ if .Params.size }}
                <div id="product-size" class="select-size product-size__option"><label><strong>Size</strong></label>: {{ range .Params.size }}
                    <button class="product__size" name="price" value="{{ .price }}">{{ .name }}</button> {{ end }}
                </div>{{ end }}

                <button class="btn btn--primary btn--small kurang-item" data-action="KURANG_ITEM">&minus;</button>
                <h3 class="product__qty">1</h3>
                <button class="btn btn--primary btn--small tambah-item" data-action="TAMBAH_ITEM">&plus;</button>
                <button class="btn btn--primary add-cart" data-action="ADD_TO_CART">Add To Cart</button>
                


                {{ if .Params.color }}
                <p class="product-color"><label><strong>Warna</strong></label>: {{ range .Params.color }}
                    <span class="product-color__item">{{ . }}</span>{{ end }}</p>{{ end }}
                <div class="order-button">
                    <a class="button success-bg" onClick="AddToCart()" href="https://api.whatsapp.com/send?phone={{ with $.Site.Data.setting.user }}{{ .whatsapp }}{{ end }}&text=Assalamu%27alaikum%20kak%2C%20saya%20mau%20order%20jaket%20{{ .Title }}%20ini%20apa%20stoknya%20masih%20ada%20ya%20kak%3F" target="_blank"><i class="icon-whatsapp"></i>Beli Via Whatsapp</a>
                </div>
                <div class="order-button__mobile">
                    <a class="wa-button__mobile success-bg" onClick="AddToCart()" href="https://api.whatsapp.com/send?phone={{ with $.Site.Data.setting.user }}{{ .whatsapp }}{{ end }}&text=Assalamu%27alaikum%20kak%2C%20saya%20mau%20order%20jaket%20{{ .Title }}%20ini%20apa%20stoknya%20masih%20ada%20ya%20kak%3F" target="_blank"><i class="icon-whatsapp"></i> Beli Via Whatsapp</a>
                </div>
                <div class="product-meta">
                    {{ if .Params.sku }}
                    <span class="product-sku">SKU: <i class="icon-barcode"></i> {{ .Params.sku }}</span> {{ end }} {{ if .Params.stock}}
                    <span class="product-stock stock-ready success-color"><i class="icon-ok"></i> Stok Tersedia</span>
                    {{else}}
                        <span class="product-stock stock-empty danger-color"><i class="icon-cancel"></i>Stok Habis</span> {{ end }} {{ with .Params.brand }} {{ range $ind,$val := . }} {{$brand := $val | urlize }} {{ with $.Site.GetPage "/brand" $brand}}
                        <span class="product-brand"><i class="icon-tag-2"></i> <a href="{{ .Permalink }}">{{ .Title }}</a></span> {{ end }} {{ end }} {{ end }}
                </div>
            </div>
            {{ $taxo := "tags" }} {{ with .Param $taxo }}
            <div class="product-tags">
                <strong>Tag{{ if gt (len .) 1 }}s{{ end }}:</strong> {{ range $index, $director := . }} {{- if gt $index 0 }}, {{ end -}} {{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
                <a href="{{ .Permalink }}">{{ $director }}</a> {{- end -}} {{- end -}}
            </div>
            {{ end }} {{ partial "social-share.html" . }}
        </div>
    </div>
    <article class="product-description">










        {{ if .Params.thumbnail }}
        <img class="product__image" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">{{ end }}

        <h2 class="nama-produk">{{ .Title }}</h2>
        {{ if .Params.price }}
        <h3 class="harga-produk">{{ .Params.price }}</h3>{{ else }} {{ with .Params.size }} {{ range first 1 . }}
        <h3 class="harga-produk">{{ .price }}</h3>{{ end }} {{ end }} {{ end }}
        <button class="btn btn--primary tambah-cart" data-action="TAMBAH_KE_CART">Masuk Cart</button>

        <button class="btn btn--primary btn--small kurang-item" data-action="KURANG_ITEM">&minus;</button>
        <h3 class="jumlah-item jumlah-produk">1</h3>
        <button class="btn btn--primary btn--small tambah-item" data-action="TAMBAH_ITEM">&plus;</button>



        <header class="card-grid__head is-center space--center">
            <h3 class="card-grid__head-title"><span>Deskripsi Produk</span></h3>
        </header>
        <div class="page-list__content space--bottom">
            {{ .Content }}
        </div>
    </article>
    <section class="section">
        <h2 class="text-center">Cart</h2>
        <div class="cart"></div>
    </section>


    {{ partial "related-product.html" . }}
</main>
{{ end }}