<article class="finder relative lg:mb-12">
    <div class="menu-search relative flex items-center border border-solid border-gray-400 rounded-sm pl-3 mb-6">
        <span class="mr-1">
            <svg aria-hidden="true" data-prefix="far" data-icon="search" viewBox="0 0 512 512" width="16px"
                height="16px"
                class="search_svg__svg-inline--fa search_svg__fa-search search_svg__fa-w-16 search_svg__fa-2x w-4 h-4 text-gray-600">
                <path fill="currentColor"
                    d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z">
                </path>
            </svg>
        </span>
        <input id="finder-input" class="w-full text-sm outline-none py-1 px-2" type="search" autocomplete="off"
            placeholder="Cari Elemen HTML">
    </div>
    <div id="finder-checkboxes" class="finder-checkboxes flex flex-wrap mb-6">
        <label
            class="light--experimental is-active flex items-center justify-start cursor-pointer text-xs lg:text-sm bg-yellow-500 rounded-sm py-2px px-2 mb-3 lg:mb-0 mr-2"><input
                class="mr-1" type="checkbox" name="experimental" checked="">experimental</label>
        <label
            class="light--meta is-active flex items-center justify-start cursor-pointer text-xs lg:text-sm bg-yellow-500 rounded-sm py-2px px-2 mb-3 lg:mb-0 mr-2"><input
                class="mr-1" type="checkbox" name="meta" checked="">meta</label>
        <label
            class="light--selfclosing is-active flex items-center justify-start cursor-pointer text-xs lg:text-sm bg-yellow-500 rounded-sm py-2px px-2 mb-3 lg:mb-0 mr-2"><input
                class="mr-1" type="checkbox" name="selfclosing" checked="">self-closing</label>
        <label
            class="light--inline is-active flex items-center justify-start cursor-pointer text-xs lg:text-sm bg-yellow-500 rounded-sm py-2px px-2 mb-3 lg:mb-0 mr-2"><input
                class="mr-1" type="checkbox" name="inline" checked="">inline</label>
        <label
            class="light--block is-active flex items-center justify-start cursor-pointer text-xs lg:text-sm bg-yellow-500 rounded-sm py-2px px-2 mb-3 lg:mb-0 mr-2"><input
                class="mr-1" type="checkbox" name="block" checked="">block</label>
    </div>
    <div id="finder-list" class="finder-list">
        {{ range where .Site.RegularPages "Section" "element" }}
        <article
            class="finder-item relative {{ if .Params.experimental }}finder-item--experimental{{ end }} {{ if .Params.meta }}finder-item--meta{{ end }} {{ if .Params.selfclosing }}finder-item--selfclosing{{ end }} {{ if .Params.inline }}finder-item--inline{{ end }} {{ if .Params.block }}finder-item--block{{ end }} "
            data-element-name="{{ .Params.name }}" data-experimental="{{ .Params.experimental }}"
            data-meta="{{ .Params.meta }}" data-selfclosing="{{ .Params.selfclosing }}"
            data-inline="{{ .Params.inline }}" data-block="{{ .Params.block }}"><a
                class="finder-item-link block visited:text-purple-600 hover:bg-gray-200 hover:no-underline py-1 px-4"
                href="{{ .Permalink}}"><span
                    class="item-name">{{ .Params.name }}</span>{{ if .Params.experimental }}<span
                    class="light light--experimental relative text-xs text-gray-400 leading-tight lowercase whitespace-no-wrap opacity-50 rounded-sm py-2px px-4px -top-1px ml-2">experimental</span>{{ end }}</a>
            <div
                class="finder-item-meta absolute flex justify-flex-end items-center top-0 right-0 bottom-0 pointer-events-none pr-4">
                <span
                    class="light light--meta text-xs text-gray-500 leading-tight lowercase whitespace-no-wrap opacity-50 rounded-sm py-2px px-4px">meta
                </span><span
                    class="light light--selfclosing text-xs text-gray-500 leading-tight lowercase whitespace-no-wrap opacity-50 rounded-sm py-2px px-4px ml-4">self-closing
                </span><span
                    class="light light--inline text-xs text-gray-500 leading-tight lowercase whitespace-no-wrap opacity-50 rounded-sm py-2px px-4px ml-4">inline
                </span><span
                    class="light light--block text-xs text-gray-500 leading-tight lowercase whitespace-no-wrap opacity-50 rounded-sm py-2px px-4px ml-4">block</span>
            </div>
        </article>
        {{ end }}
    </div>
</article>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {

        var $searchInput = document.getElementById('finder-input');
        var $finderList = document.getElementById('finder-list');
        var $finderItems = document.querySelectorAll('.finder-item');
        var $finderCheckboxes = document.querySelectorAll('#finder-checkboxes input');
        var lights = {
            experimental: true,
            meta: true,
            selfClosing: true,
            inline: true,
            block: true,
        }
        var isFocused = false;
        var isSearching = false;
        var isModaling = false;
        var currentMatch = -1;
        var matches = initializeMatches($finderItems);

        if ($searchInput) {
            $searchInput.addEventListener('focus', function (event) {
                isFocused = true;
                isSearching = true;
            });

            $searchInput.addEventListener('blur', function (event) {
                isFocused = false;
                if (this.value === '') {
                    globalReset();
                }
            });

            $searchInput.addEventListener('keyup', function (event) {
                var query = this.value.toLowerCase();
                isFocused = (this === document.activeElement);

                if (isFocused) {
                    isSearching = true;

                    if (query.length > 0) {
                        matches = [];
                        currentMatch = -1;
                        $finderList.classList.add('is-searching');
                        Array.prototype.forEach.call($finderItems, function (
                            $el, index) {
                            var elementName = $el.dataset.elementName;
                            var isMatch = highlightQuery($el,
                                elementName, query);

                            if (isMatch && !$el.classList.contains(
                                    'is-hidden')) {
                                matches.push({
                                    DOMIndex: index,
                                    elementName: elementName,
                                });
                            }
                        });
                    } else {
                        $finderList.classList.remove('is-searching');
                        Array.prototype.forEach.call($finderItems, function (
                            $el) {
                            var $elName = $el.querySelector(
                                '.item-name');
                            $elName.innerHTML = $el.dataset.elementName;
                        });
                    }
                }
            });

            Array.prototype.forEach.call($finderCheckboxes, function ($el) {
                $el.addEventListener('change', function (event) {
                    lights[this.name] = this.checked;
                    changeLights();
                });
            });

            window.addEventListener('click', function (event) {
                if (!isFocused) {
                    isSearching = false;
                    cleanMenu($finderItems, false, true);
                }
            });

            window.addEventListener('keydown', function (event) {
                var key = event.code || event.key || false;

                switch (key) {
                    case 'Enter':
                        if (isSearching && currentMatch > -1) {
                            event.preventDefault();
                            var elementName = matches[currentMatch].elementName;
                            var $target = document.getElementById(elementName);

                            if ($target) {
                                $target.scrollIntoView();
                            } else {
                                window.location = window.location.origin +
                                    '/element/' + elementName;
                            }
                        }
                        break;
                    case 'Escape':
                        if (isModaling) {
                            closeModal();
                        } else {
                            isSearching = false;
                            globalReset();
                        }
                        break;
                    case 'ArrowUp':
                    case 'ArrowDown':
                        if (isSearching) {
                            event.preventDefault();
                            if (isFocused) {
                                $searchInput.blur();
                            }
                            var increment = (key === 'ArrowDown');
                            currentMatch = navigateMenu($finderItems, matches,
                                currentMatch, increment);

                            if (currentMatch === -1) {
                                $searchInput.focus();
                            }
                            break;
                        }
                }
            });

            function checkLights() {
                Array.prototype.forEach.call($finderCheckboxes, function ($el) {
                    lights[this.name] = this.checked;
                });
            }

            function changeLights() {
                Array.prototype.forEach.call($finderItems, function ($el, index) {
                    var hide = false;

                    Object.keys(lights).forEach(function (key) {
                        // Check if we hide "experimental"
                        if (!lights[key]) {
                            hide = (hide) || ($el.dataset[key] ==
                                'true');
                        }
                    });

                    if (hide) {
                        $el.classList.add('is-hidden');
                    } else {
                        $el.classList.remove('is-hidden');
                    }
                });
            }

            function globalReset() {
                isFocused = false;
                $searchInput.value = '';
                $searchInput.blur();
                currentMatch = -1;
                matches = initializeMatches($finderItems);
                $finderList.classList.remove('is-searching');
                cleanMenu($finderItems, true, true);
            }

            checkLights();
            changeLights();
        }

    });
</script>