<div class="card-col-5 card-product">
    <div class="card-product__image">
        <a class="card-product__link" href="{{ .Permalink }}" onClick="fbq('track', 'ViewContent');">
            {{ if .Params.thumbnail }}
            <img class="lazy lazyload product__image" alt="{{ .Title }}" data-src="{{ .Params.thumbnail | relURL }}" width="226" height="326"/>
            {{ end }}
        </a> {{ if isset .Params "badge" }}
        <span class="card-product__badge {{ index .Params "badge" }}">{{ index .Params "badge" }}</span>{{ end }}
    </div>
    <div class="card-product__info">
        <a class="card-product__link" href="{{ .Permalink}}" onClick="fbq('track', 'ViewContent');">
            <h3 class="card-product__title product__name">{{ .Title }}</h3>
        </a>
        {{ if .Params.price }}
        <p class="card-product__price">{{ .Params.price }}</p>
        {{ else }} {{ with .Params.size }} {{ range first 1 . }}
        <p class="card-product__price">{{ .price }}</p>
        {{ end }} {{ end }} {{ end }}
    </div>
</div>