{{ partial "head.amp.html" . }}

<body>
    <div class="site-wrapper">
        <header id="js-header" class="site__header header header-bg header--ltc">
            <div class="header__wrapper header__brand">
                {{ with .Site.Params.logo }}
                <div class="nav__brand nav__brand--ltc">
                    <a class="nav__brand-link" href="{{ "/" | relLangURL }}">
                        <amp-img src="{{ .url | absURL }}" alt="{{ $.Site.Title }}" width="{{ .width }}"
                            height="{{ .height }}"></amp-img>
                    </a>
                </div>
                {{ end }}
            </div>
            <div class="header__wrapper nav">
                <div class="nav__wrapper nav--ltc">
                    <div class="nav__mobile nav__toggle" role="button" on="tap:sidebar.toggle" tabindex="0">
                        <span class="nav__toggle-item"></span>
                    </div>
                    <nav id="nav__menu--js" class="nav__menu">
                        <ul class='nav__menu-item menu menu--ltc'>
                            {{ $currentPage := . }} {{ range .Site.Menus.main }} {{ if .HasChildren }}
                            <li class="{{ if $currentPage.HasMenuCurrent " main " . }}active{{ end }}has-submenu">
                                <a class="menu-item__link" href="#">{{ .Name }}</a>
                                <ul class="submenu" aria-hidden="true">
                                    {{ range .Children }}
                                    <li class="{{ if $currentPage.IsMenuCurrent " main " . }}active{{ end }}">
                                        <a class="submenu-item__link" href="{{ .URL }}">{{ .Name }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </li>
                            {{ else }}
                            <li>
                                <a class="menu-item__link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }} {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <amp-sidebar id="sidebar" layout="nodisplay" side="left">
            <div role="button" aria-label="close sidebar" on="tap:sidebar.toggle" tabindex="0" class="close-sidebar">✕
            </div>
            <nav id="nav__sidebar" class="nav__sidebar nav-sidebar">
                <ul class='nav-sidebar__menu'>
                    {{ $currentPage := . }} {{ range .Site.Menus.main }} {{ if .HasChildren }}
                    <li class="{{ if $currentPage.HasMenuCurrent " main " . }}active{{ end }}has-submenu">
                        <a class="nav-sidebar__menu-link" href="#">{{ .Name }}</a>
                        <ul class="nav-sidebar__submenu" aria-hidden="true">
                            {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent " main " . }}active{{ end }}">
                                <a class="submenu-item__link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li>
                        <a class="nav-sidebar__menu-link" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }} {{ end }}
                </ul>
            </nav>
        </amp-sidebar>