<div id="search" class="nav__search search search__mobile col-span-8 order-4 lg:order-none lg:col-span-6 lg:col-start-4 px-8 py-2 lg:py-0 lg:px-0">
    <div class="search__box bg-white">
        <div class="search__form relative flex items-center justify-between">
            <div class="w-full">
                <input x-model="query" x-on:keyup="search()" aria-label="..." type="search" placeholder="Cari Artikel..." class="search__form-input w-full text-sm text-gray-700 leading-none bg-teritary transition duration-300 ease-in-out focus:outline-none cursor-pointer hover:cursor-auto focus:cursor-auto border border-solid border-teritary focus:border-primary rounded py-2 px-4">
            </div>
            <div class="absolute top-0 right-4 h-full text-gray-500 flex items-center">
                {{ partial "svg/icon-search.svg" (dict "class" "w-4 h-4 fill-current text-current ml-2") }}
            </div>
        </div>
        <div class="search__result container w-full max-w-screen-md top-30pr-40px relative block mx-auto z-50" 
           x-show="query !== ''" 
           x-transition:enter="transition ease-out duration-75" 
           x-transition:enter-start="opacity-0 transform scale-90" 
           x-transition:enter-end="opacity-100 transform scale-100" 
           x-transition:leave="transition ease-in duration-75" 
           x-transition:leave-start="opacity-100 transform scale-100" 
           x-transition:leave-end="opacity-0 transform scale-90">
            <ul class="absolute w-full h-auto top-0 left-0 list-none bg-white" :class="{ 'shadow-md py-4 px-3': query !== '' }">
                <template x-for="item in searchResults" :key="item">
                    <li class="text-gray-700 hover:text-primary">
                        <a :href="`${item.url}`" class="text-sm text-current" x-text="item.title"></a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>