<div class="post__meta">
    <div class="post__meta-item">
        {{ $taxonomy := "authors" }}
        {{ with .Param $taxonomy }}
        <div class="post__meta-author">
            {{ range $index, $author := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $author) -}}
            <img src="{{ .Params.avatar }}" class="post__author-thumb" alt="{{ .Title }}">
            <a class="post__author-link invert" href="{{ .Permalink }}">{{ $author | urlize }}</a>
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
        <time class="post__published"> -
            {{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
    </div>
    {{ partial "social-share.html" . }}
</div>