<div class="post-card grid grid-cols-1 lg:grid-cols-7 gap-6 items-center hover:shadow-lg py-6 px-3 lg:px-4">
    <div class="post-card__media col-span-1 lg:col-span-3 relative pt-4-3">
        <a class="post-card__link" href="{{ .Permalink }}">
            {{ if .Params.thumbnail }}
            <img class="post-card__img lazyload blur-up absolute w-full h-full top-0 right-0 object-cover rounded-sm" alt="{{ .Title }}" src="{{ .Params.thumbnail | relURL }}"
                data-sizes="auto" />
            {{ end }}
        </a>
    </div>
    <div class="post-card__body col-span-1 lg:col-span-4">
        <div class="post-card__head">
            {{ $baseUrl := .Site.BaseURL }} {{ range first 1 .Params.categories }}
            <header class="">
                <a class="inline-block text-xs text-white leading-normal uppercase bg-green-500 rounded-full px-4 py-2px"
                    href="{{ $baseUrl }}{{ . | urlize }}">{{ . }}</a>{{ end }}
                <h3 class="text-2xl mb-3">
                    <a class="text-gray-800 hover:text-primary hover:no-underline"
                        href="{{ .Permalink}}">{{ .Title }}</h3></a>
                </h3>
            </header>
            <div class="flex items-center mb-2">
                {{ $taxonomy := "authors" }}
                {{ with .Param $taxonomy }}
                <div class="flex items-center">
                    {{ range $index, $author := . }}
                    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $author) -}}
                    <img src="{{ .Params.avatar }}" alt="{{ .Title }}" class="w-8 h-8 rounded-full object-cover mr-2">
                    <a class="text-sm text-gray-600 capitalize" href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ end }}
                    {{ end }}
                </div>
                {{ end }}
                <time class="text-sm text-gray-500 ml-2"> -
                    {{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
            </div>
        </div>
        <div class="text-gray-700 font-body">
            <p class="mb-0">{{ .Summary | plainify | htmlUnescape }}..</p>
        </div>
    </div>
</div>

<style>
    .post-card__img {
        will-change: opacity;
        transition: opacity 0.3s ease-in;
    }
</style>