<div class="grid grid-cols-1 lg:grid-cols-6 gap-8">
    {{ range $index, $element := first 5 (where (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) ".Params.featured" "==" true ) }}
    <div
        class="{{ if (eq $index 0) }}first-entry col-span-1 lg:col-span-3{{ else if (eq $index 1) }}second-entry col-span-1 lg:col-span-3 {{ else }}post-entry col-span-1 lg:col-span-2{{ end }}">
        <div
            class="{{ if or (eq $index 0) (eq $index 1) }}relative pt-16-9 before:bg-mask before:z-30 z-10 {{ else }}grid grid-cols-6 gap-4 items-center bg-white py-4 px-3 shadow-md {{ end }}">
            {{ if .Params.thumbnail }}
            <figure
                class="{{ if or (eq $index 0) (eq $index 1) }}absolute top-0 left-0 w-full h-full z-20 {{ else }}col-span-2 relative pt-1-1 {{ end }}">
                <img class="lazyload w-full h-full object-cover {{ if not (or (eq $index 0) (eq $index 1)) }}absolute top-0 left-0 rounded-full {{ end }}" alt="{{ .Title }}"
                    data-src="{{ .Params.thumbnail | relURL }}" width="100%" height="100%" />
            </figure>
            {{ end }}
            <div
                class="{{ if or (eq $index 0) (eq $index 1) }}w-full h-full absolute top-0 left-0 flex justify-center items-center text-center px-6 z-40 {{ else }}col-span-4 items-center {{ end }}">
                <div class="relative z-50">
                    {{ $baseUrl := .Site.BaseURL }} {{ range first 1 .Params.categories }}
                    <a class="inline-block text-xs leading-normal uppercase hover:no-underline mb-2 {{ if or (eq $index 0) (eq $index 1) }}text-white bg-green-500 rounded-full py-1 px-3 {{ else }}text-primary {{ end }}"
                        href="{{ $baseUrl }}{{ . | urlize }}">{{ . }}</a>{{ end }}
                    <h3
                        class="{{ if or (eq $index 0) (eq $index 1) }}text-xl lg:text-2xl px-4 {{ else }}text-base {{ end }} mb-3">
                        <a class="{{ if or (eq $index 0) (eq $index 1) }}text-white {{ else }}text-gray-800 {{ end }} font-heading hover:text-primary hover:no-underline"
                            href="{{ .Permalink}}">{{ .Title }}</a>
                    </h3>
                    {{ if or (eq $index 0) (eq $index 1) }}
                    <div class="flex items-center justify-center">
                        {{ $taxonomy := "authors" }}
                        {{ with .Param $taxonomy }}
                        <div class="flex items-center">
                            {{ range $index, $author := . }}
                            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $author) -}}
                            <img src="{{ .Params.avatar }}" alt="{{ .Title }}" class="w-8 h-8 rounded-full mr-2">
                            <a class="text-sm text-white capitalize" href="{{ .Permalink }}">{{ .Title }}</a>
                            {{ end }}
                            {{ end }}
                        </div>
                        {{ end }}

                        <time class="text-sm text-white ml-2"> -
                            {{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
                    </div>{{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>