<!-- sidebar start -->
<aside
    class="docs__sidebar docs__nav bg-white absolute left-0 z-30 col-span-1 lg:sticky lg:top-0 lg:border-r lg:border-solid lg:border-gray-200">
    {{ $currentPage := . }}
    {{$section := .Section}}
    {{$cssref := "cssref"}}
    {{$html := "html"}}
    {{$css := "css"}}
    {{$jurumiyah := "jurumiyah"}}
    {{$htmlref := "element"}}
    {{$datacss := $.Site.Data.cssref}}
    {{$datahtml := $.Site.Data.htmlref}}
    {{$datajurumiyah := $.Site.Data.jurumiyah}}
	{{$section_heading := .Site.GetPage "section" .Section }}
	
	{{with $section_heading}}
	<h2>{{- .Title -}}</h2>
	{{end}}

    {{if or (eq $section $css) (eq $section $cssref) }}
    {{ range $datacss }}
    <h3
        class="docs__nav-title text-xl uppercase tracking-wide pt-6 pl-4 my-4 mx-0 border-t border-solid border-gray-300">
        {{ .title }}</h3>
    {{ if .items }}
    <ul class="docs__nav-menu docs__menu list-none p-0 m-0">
        {{ range .items }}
        {{ $menu_item_url := .link | relLangURL }}
        {{ $page_url := $currentPage.RelPermalink | relLangURL }}
        <li class="docs__menu-item {{ if eq $menu_item_url $page_url }} is-active {{ end }} py-2px px-4">
            <a class="docs__menu-link text-sm text-gray-800 hover:no-underline hover:text-white focus:text-white {{ if eq $menu_item_url $page_url }}active text-white{{ end }}"
                href="{{ .link }}">{{ .title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
    {{ end }}

    {{if or (eq $section $html) (eq $section $htmlref) }}
    {{ range $datahtml }}
    <h3
        class="docs__nav-title text-xl uppercase tracking-wide pt-6 pl-4 my-4 mx-0 border-t border-solid border-gray-300">
        {{ .title }}</h3>
    {{ if .items }}
    <ul class="docs__nav-menu docs__menu list-none p-0 m-0">
        {{ range .items }}
        {{ $menu_item_url := .link | relLangURL }}
        {{ $page_url := $currentPage.RelPermalink | relLangURL }}
        <li class="docs__menu-item {{ if eq $menu_item_url $page_url }} is-active {{ end }} py-2px px-4">
            <a class="docs__menu-link {{ if eq $menu_item_url $page_url }} active {{ end }} text-sm text-gray-800 hover:no-underline hover:text-white focus:text-white"
                href="{{ .link }}">{{ .title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
    {{ end }}
	
	{{if eq $section $jurumiyah }}
    {{ range $datajurumiyah }}
    <h3
        class="docs__nav-title text-xl uppercase tracking-wide pt-6 pl-4 my-4 mx-0 border-t border-solid border-gray-300">
        {{ .title }}</h3>
    {{ if .items }}
    <ul class="docs__nav-menu docs__menu list-none p-0 m-0">
        {{ range .items }}
        {{ $menu_item_url := .link | relLangURL }}
        {{ $page_url := $currentPage.RelPermalink | relLangURL }}
        <li class="docs__menu-item {{ if eq $menu_item_url $page_url }} is-active {{ end }} py-2px px-4">
            <a class="docs__menu-link {{ if eq $menu_item_url $page_url }} active {{ end }} text-sm text-gray-800 hover:no-underline hover:text-white focus:text-white"
                href="{{ .link }}">{{ .title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
    {{ end }}
</aside>