    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="{{ if .IsHome -}}{{ with .Site.Params.image }}{{ .url | absURL }}{{ else }}{{ with .Site.Params.thumbnail }}{{ .url | absURL }}{{ end }}{{ end }}{{ end }}" /> {{ with $.Site.Data.setting.user }}
    <meta name="twitter:site" content="@{{ .twitter }}" /> {{- end }}    