@media (--desktop-screen) {

    .docs__main {
        pre {
            @apply max-w-full overflow-hidden;
        }
    }

    .docs__main--fit {
        max-width: 860px;
    }
}

.docs__post {

    .highlight {
        @apply relative;
    }

    .highlight pre {
        @apply overflow-x-auto;
    }
}

@media (--phone-screen) {
    .docs__post {
        h1 {
            @apply text-2xl;
        }
    }
}

.docs__content {

    &>h2,
    &>h3 {
        @apply border-t border-solid border-gray-200 pt-8 mt-6;
    }

    &>em {
        @apply text-gray-800;
    }

    pre {
        @apply pt-8 px-6 pb-4 mt-0 mx-0 mb-8;
    }

    pre,
    code {
        @apply text-sm rounded-sm leading-normal text-left break-normal;
    }

    pre,
    code {
        font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        font-feature-settings: "liga"0;
        direction: ltr;
        word-spacing: normal;
        tab-size: 2;
        hyphens: none;
    }

    pre::-moz-selection,
    pre ::-moz-selection,
    code::-moz-selection,
    code ::-moz-selection {
        text-shadow: none;
    }

    pre::selection,
    pre ::selection,
    code::selection,
    code ::selection {
        text-shadow: none;
    }

    :not(pre)>code {
        @apply py-1 px-2 text-sm;
    }

    :not(pre)>code {
        background: var(--inline-code-bg);
        vertical-align: 1%;
    }
}

.property__content {
    .property__value {
        background: #ffdd57;
    }

    .property__default {
        box-shadow: inset 0 0 0 1px #ff4538;
        color: #ff4538;
        background: #fff;
    }

    .property__recommended {
        box-shadow: inset 0 0 0 1px #23d160;
        color: #23d160;
        background: #fff;
    }
}

.property__animation {
    @apply flex mt-4 mb-4;

    .button {
        @apply text-white text-sm py-2 bg-green-A400 rounded-sm px-6;
    }

    .button {

        &:before {
            content: "▶ Putar Animasi"
        }

        &:first-letter {
            @apply mr-1;
        }

        &.is-playing {
            @apply bg-red-500;

            &:before {
                content: "￭ Berhenti"
            }
        }
    }
}

@media (--mobile-screen) {
    .element__description pre {
        margin-top: 0;
    }
}

/* Preview tab */
/*! purgecss start ignore */
#tab-html:checked~#tab-html-content,
#tab-html-1:checked~#tab-html-content1,
#tab-html-2:checked~#tab-html-content2,
#tab-html-3:checked~#tab-html-content3,
#tab-html-4:checked~#tab-html-content4,
#tab-html-5:checked~#tab-html-content5,
#tab-html-6:checked~#tab-html-content6,
#tab-css:checked~#tab-css-content,
#tab-css-1:checked~#tab-css-content1,
#tab-css-2:checked~#tab-css-content2,
#tab-css-3:checked~#tab-css-content3,
#tab-css-4:checked~#tab-css-content4,
#tab-css-5:checked~#tab-css-content5,
#tab-css-6:checked~#tab-css-content6,
#tab-js:checked~#tab-js-content,
#tab-js-1:checked~#tab-js-content1,
#tab-js-2:checked~#tab-js-content2,
#tab-js-3:checked~#tab-js-content3,
#tab-js-4:checked~#tab-js-content4,
#tab-js-5:checked~#tab-js-content5,
#tab-js-6:checked~#tab-js-content6,
#tab-result:checked~#tab-result-content,
#tab-result-1:checked~#tab-result-content1,
#tab-result-2:checked~#tab-result-content2,
#tab-result-3:checked~#tab-result-content3,
#tab-result-4:checked~#tab-result-content4,
#tab-result-5:checked~#tab-result-content5,
#tab-result-6:checked~#tab-result-content6 {
    @apply block bg-white;
}

/*! purgecss end ignore */

.preview__tab .preview__tab-content pre,
.preview__tab .preview__tab-content .preview__tab-result {
    animation: fadeInScale 0.7s ease-in-out;
}

.preview__tab [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #0CE;
}

.preview__tab [id^="tab"]:checked+.preview__tab-html {
    background: #fff;
    box-shadow: inset 0 3px #FFC107;

    svg {
        color: #FFC107;
    }
}

.preview__tab [id^="tab"]:checked+.preview__tab-css {
    background: #fff;
    box-shadow: inset 0 3px #2196F3;

    svg {
        color: #2196F3;
    }
}

.preview__tab [id^="tab"]:checked+.preview__tab-js {
    background: #fff;
    box-shadow: inset 0 3px #f44336;

    svg {
        color: #f44336;
    }
}

.preview__tab [id^="tab"]:checked+.preview__tab-result {
    background: #fff;
    box-shadow: inset 0 3px #4CAF50;

    svg {
        color: #4CAF50;
    }
}