{{ define "main" }}
<main id="site-main">
    <div class="grid-content">
        <div class="grid-wrapper post-wrapper">
            <div class="post feed__wrapper">
                    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

                    {{ if gt $paginator.TotalPages 0 }}
                    {{ range $index, $page := $paginator.Pages }}
                    <article class="{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}first-entry{{ else }}post-entry{{ end }} feed">
                        <div class="feed__media">
                            <a class="feed__link" href="{{ .Permalink }}">
                                {{ if .Params.thumbnail }}
                                <amp-img class="feed__image" alt="{{ .Title }}" src="{{ .Params.thumbnail | relURL }}" width="1"
                                height="0.75"
                                layout="responsive">></amp-img>
                                {{ end }}
                            </a>
                        </div>
                        <div class="feed__body">
                            {{ $baseUrl := .Site.BaseURL }} {{ range first 1 .Params.categories }}
                            <a class="feed__tags" href="{{ $baseUrl }}{{ . | urlize }}">{{ . }}</a>{{ end }}
                            
                            <h3 class="feed__title title"><a class="feed__link invert" href="{{ .Permalink}}">{{ .Title }}</a></h3>
                            
                            <div class="feed__meta">
                                    {{ $baseUrl := .Site.BaseURL }} {{ range first 1 .Params.authors }}
                                    {{ with ($.Site.GetPage (printf "/%s" "authors")) }}
                                    {{ range .Pages }}
                                    <amp-img src="{{ .Params.avatar }}" class="feed__avatar" alt="{{ .Title }}" width="1"
                                    height="1"
                                    layout="responsive">></amp-img>
                                    {{ end }}
                                    {{ end }}
                                    <a class="feed__author" href="{{ $baseUrl }}{{ . | urlize }}">{{ . }}</a>{{ end }}
                                    <time class="feed__published"> - {{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
                                </div>
                            <section class="feed__content">
                                <p>{{ .Summary | plainify | htmlUnescape }}...</p>
                                <!-- <a href="file://C:\Users\Akhlis\Documents\Publii\sites\publii\preview/cara-membuat-droplets-digital-ocean-dengan-benar/index.html" class="readmore feed__readmore invert">Continue reading...</a> -->
                            </section>
                        </div>
                    </article>
                    {{ end }}
                    {{ end }}

                {{ partial "pagination.html" . }}
            </div>
            {{ partial "sidebar.amp.html" . }}
        </div>
    </div>
</main>
{{ end }}