{{ define "main" }}
<main id="site-main">
    {{ $pctx := . }}

    <div class="grid-content">
        <div class="grid-wrapper">
                {{ range .Data.Pages }}
                <li>
                  <a href="{{.RelPermalink}}">{{ .Title }}</a>
                </li>
              {{ end }}


            {{ $taxo := "authors" }}
            <header class="page-header is-center author__header {{ $taxo }}">
                {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
                {{ range .Pages }}
                <div class="author__media">
                    <img src="{{ .Params.avatar }}" class="author__avatar" alt="{{ .Title }}">
                </div>
                <div class="author__body">
                    <h1 class="author__title">{{ .Title }}<sup>(12)</sup></h1>
                    <p class="author__bio">{{ .Params.bio }}</p>
                </div>
                {{ end }}
                {{ end }}
            </header>
        </div>
    </div>

    <div class="grid-content">
        <div class="grid-wrapper post-wrapper">
            <div class="post {{ if $.IsHome }}post-flex{{ else }}feed__wrapper{{ end }}">
                {{ $paginator := .Paginate (where $pctx.RegularPages "Type" "in" .Site.Params.mainSections) }}

                {{ if gt $paginator.TotalPages 0 }}
                {{ range $index, $page := $paginator.Pages }}
                <article
                    class="{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}first-entry{{ else }}post-entry{{ end }} {{ if $.IsHome }}post-card{{ else }}feed{{ end }}">
                    <div class="{{ if $.IsHome }}post-card__media{{ else }}feed__media{{ end }}">
                        <a class="{{ if $.IsHome }}post-card__link{{ else }}feed__link{{ end }}"
                            href="{{ .Permalink }}">
                            {{ if .Params.thumbnail }}
                            <img class="lazyload lazy feed__image" alt="{{ .Title }}"
                                data-src="{{ .Params.thumbnail | relURL }}" width="420" height="380" />
                            {{ end }}
                        </a>
                    </div>
                    <div class="{{ if $.IsHome }}post-card__body{{ else }}feed__body{{ end }}">
                        {{ $baseUrl := .Site.BaseURL }} {{ range first 1 .Params.categories }}
                        <a class="{{ if $.IsHome }}post-card__tags{{ else }}feed__tags{{ end }}"
                            href="{{ $baseUrl }}{{ . | urlize }}">{{ . }}</a>{{ end }}

                        <h3 class="{{ if $.IsHome }}post-card__title{{ else }}feed__title title{{ end }}"><a
                                class="{{ if $.IsHome }}post-card__link title{{ else }}feed__link invert{{ end }}"
                                href="{{ .Permalink}}">{{ .Title }}</a></h3>

                        {{ if not $.IsHome }}
                        <div class="feed__meta">
                            {{ $baseUrl := .Site.BaseURL }} {{ range first 1 .Params.authors }}
                            {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
                            {{ range .Pages }}
                            <img src="{{ .Params.avatar }}" class="feed__avatar" alt="{{ .Title }}">
                            {{ end }}
                            {{ end }}
                            <a class="feed__author" href="{{ $baseUrl }}{{ . | urlize }}">{{ . }}</a>{{ end }}
                            <time datetime="04-11-2017T13:00" class="feed__date">November 4, 2017</time>
                        </div>
                        <section class="feed__content">
                            <p>{{ .Summary | plainify | htmlUnescape }}...</p>
                            <a href="file://C:\Users\Akhlis\Documents\Publii\sites\publii\preview/cara-membuat-droplets-digital-ocean-dengan-benar/index.html"
                                class="readmore feed__readmore invert">Continue reading...</a>
                        </section>
                        {{ end }}
                    </div>
                </article>
                {{ end }}
                {{ end }}

                {{ partial "pagination.html" . }}
            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</main>
{{ end }}