{{ define "main" }}
<div class="grid-content body--dark-bg">
    <div class="grid-wrapper grid-col-2">
        <header class="grid--full grid-term__header is-center">
            <h3 class="grid-term__title no-space">{{ .Title }}</h3>
        </header>
        <div class="grid--full grid-cover__content is-center">
            {{ .Content }}
        </div>
    </div>
</div>
<main id="site-main" class="grid-content">
    <div class="grid-wrapper grid-col-2">
        <div class="grid--full breadcrumb">
            <span><a href="{{ .Site.BaseURL }}"><i class="icon-home"></i>Home</a><i class="icon-angle-right"></i></span>
            <span><a href="{{ "/brand/" | relURL }}">Brand</a><i class="icon-angle-right"></i></span>
            <span>{{ .Title }}</span>
        </div>
    </div>
    <div class="grid-wrapper grid-col-5 no-space">
        
    </div>
    <div class="grid-wrapper grid-col-2">
        <div class="grid--full grid-cover__content">
            
        </div>
    </div>
</main>
{{ end }}