<section class="grid-content block block__new-product">
    <div class="grid-wrapper">
        <header class="grid-header is-center">
            <h3 class="grid-header__title">{{ safeHTML .Section.headline }}</h3>
        </header>
    </div>
</section>
<section class="grid-content block block__new-product">
    <div class="grid-wrapper grid-col-5">
        {{ $recent_product_num := 10 }} {{ range first $recent_product_num (where site.RegularPages "Type" "in" site.Params.mainStore) }} {{ partial "grid.html" . }} {{ end }}
    </div>
</section>