<section class="grid-content block block__checkout-order">
    <div class="grid-wrapper">
        <div class="checkout-box">
            <div class="checkout-add">
                <a href="/product">Tambah Produk</a>
            </div>
            <ul class="checkout-list cart"></ul>
            <div class="checkout-message">
                <h3>Belum ada produk yang dipilih...</h3>
                <a href="/product">Kembali ke katalog produk</a>
            </div>
            <h3 class="checkout-product__subtotal"></h3>
        </div>
    </div>
</section>
<section class="grid-content block block__checkout-form">
    <div class="grid-wrapper">
        <div class="grid-form">
            <form class="order-form" action="https://formspree.io/hijacket.cs@gmail.com" method="POST">
                <div class="order-form__address form-address">
                    <header class="checkout-form__header">
                        <h3 class="checkout-form__title">Detail Alamat Pengiriman</h3>
                    </header>
                    <div class="form-address__item">
                        <label for="name">Nama Lengkap<span class="form-address__must">*</span></label>
                        <input type="text" id="name" name="Name" value="" placeholder="Masukkan Nama Lengkap" required="">
                    </div>
                    <div class="form-address__item">
                        <label for="name">No. HP/WA<span class="form-address__must">*</span></label>
                        <input type="text" id="phone" name="HP" value="" placeholder="Masukkan No HP/Whatsapp" required="">
                    </div>
                    <div class="form-address__item">
                        <label for="name">Alamat<span class="form-address__must">*</span></label>
                        <textarea rows="3" id="alamat" name="Alamat" value="" placeholder="Masukkan Alamat Lengkap" required=""></textarea>
                    </div>
                    <div class="form-address__item">
                        <label for="name">Kode POS<span class="form-address__must">*</span></label>
                        <input type="text" id="kode-pos" name="Kode POS" value="" placeholder="Masukkan Kode POS" required="">
                    </div>
                    <div class="form-address__item">
                        <select id="prov" name="provinsi" required>

                        </select>
                    </div>
                    <div class="form-address__item">
                        <select id="kab" name="kabupaten" required>

                        </select>
                    </div>
                    <div class="form-address__item">
                        <select id="kec" name="kecamatan" required>

                        </select>
                    </div>
                    <div class="form-address__item">
                        <label for="name">Pilih Kurir Pengiriman<span class="form-address__must">*</span></label>
                        <select id="kurir" name="kurir" required>

                        </select>
                    </div>
                    <div class="form-address__item"></div>
                </div>
                <div class="order-form__checkout checkout-form">
                    <div class="checkout-form__info">
                        <header class="checkout-form__header">
                            <h3 class="checkout-form__title">Info Pesanan</h3>
                        </header>
                        <div class="checkout-form__detail">
                            <div class="checkout-form__box checkout-form__head">
                                <div class="checkout-form--left">
                                    <h4>Produk</h4>
                                </div>
                                <div class="checkout-form--right">
                                    <h4>Harga</h4>
                                </div>
                            </div>
                            <div class="checkout-form__detail-item">
                            </div>
                            <p>Belum ada produk yang dipilih</p>
                            <div class="checkout-form__box checkout-form__footer">
                                <div class="checkout-form--left">
                                    <p>Sub Total:</p>
                                </div>
                                <div class="checkout-form--right">
                                    <span class="checkout-form__subtotal">Rp. </span>
                                </div>
                            </div>
                            <div class="checkout-form__box">
                                <div class="checkout-form--left">
                                    <p>Berat Total:</p>
                                </div>
                                <div class="checkout-form--right">
                                    <span class="checkout-form__weight-total"></span>
                                    <span class="checkout-form__weight-gr"> gram</span>
                                </div>
                            </div>
                            <div class="checkout-form__box">
                                <div class="checkout-form--left">
                                    <p>Biaya Ongkir:</p>
                                </div>
                                <div class="checkout-form--right">
                                    <span class="checkout-form__cost-courier"></span>
                                    <span class="checkout-form__cost-courier2"></span>
                                </div>
                            </div>
                            <div class="checkout-form__box">
                                <div class="checkout-form--left">
                                    <h4>Total Bayar:</h4>
                                </div>
                                <div class="checkout-form--right">
                                    <span class="pay-total">Rp. </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-form__button">
                        <button type="submit" class="checkout-form__btn" formtarget="_blank">Beli via Whatsapp</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>