<section class="grid-content block block__testimoni">
    <div class="grid-wrapper grid-col-2">
        <div class="grid--full is-center">
            <header class="grid-header">
                <h3 class="grid-header__title">{{ safeHTML .Section.headline }}</h3>
            </header>
        </div>
    </div>
</section>
<section class="grid-content block block__testimoni">
    <div class="grid-wrapper grid-col-3">
        {{ if .Section.sizeCart }}{{ range .Section.sizeCart }}
        <div class="card-col-3">
            <figure>
                <img class="lazy" data-src="{{ . | relURL }}" alt="testimoni">
            </figure>
        </div>{{ end }} {{ end }}
    </div>
</section>