

.finder {
    position: relative
}

.finder .menu-search input {
    font-size: 1rem
}

.finder-list.is-searching .finder-item {
    display: none
}

.finder-list.is-searching .finder-item.is-highlighted:not(.is-hidden) {
    display: block
}

.finder-list.is-searching .finder-item.is-selected {
    display: block
}

.finder-item {
    -webkit-box-align: stretch;
    align-items: stretch;
    cursor: pointer;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative
}

.finder-item.is-hidden {
    display: none
}

.finder-item.is-selected {
    z-index: 1
}

.finder-item.is-selected .finder-item-link,
.finder-item.is-selected .finder-item-link:hover {
    background: #ff470f;
    color: #fff
}

.finder-item-link {
    display: block;
    padding: 0.25rem 1rem;
    -webkit-transition: none;
    transition: none
}

.finder-item-link:visited {
    color: #b86bff
}

.finder-item-link:hover {
    background: #f2f2f2
}

.finder-item-link .highlight {
    background: #ffdd57;
    color: #310736
}

.finder-item-link .light--experimental {
    margin-left: 4px;
    position: relative;
    top: -1px
}

.finder-item-meta {
    -webkit-box-align: center;
    align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

.finder-checkboxes {
    display: -webkit-box;
    display: flex
}

.finder-checkboxes .light {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start
}

.light {
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.48);
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.2;
    opacity: 0.5;
    padding: 2px 4px;
    text-transform: lowercase;
    white-space: nowrap
}

label.light {
    cursor: pointer
}

label.light input {
    cursor: pointer;
    margin-right: 4px
}

.light--experimental {
    background-color: #ffdd57;
    color: #310736;
    opacity: 1
}

.finder-item--meta .light--meta,
.light--meta.is-active {
    background-color: rgba(184, 107, 255, 0.29);
    color: #333;
    opacity: 1
}

.finder-item--inline .light--inline,
.light--inline.is-active {
    background-color: rgba(35, 209, 96, 0.29);
    color: #333;
    opacity: 1
}

.finder-item--block .light--block,
.light--block.is-active {
    background-color: rgba(50, 115, 220, 0.29);
    color: #333;
    opacity: 1
}

.finder-item--selfclosing .light--selfclosing,
.light--selfclosing.is-active {
    background-color: rgba(255, 69, 56, 0.29);
    color: #333;
    opacity: 1
}

@media (max-width: 799px) {
    .finder {
        padding-bottom: 1rem
    }

    .finder-checkboxes {
        flex-wrap: wrap;
        padding: 0 1rem
    }

    .finder-checkboxes .light {
        margin-bottom: 0.5em;
        margin-right: 0.5em
    }

    .finder-item-link .light--experimental {
        display: none
    }

    .finder-item-meta {
        padding-right: 0.5rem
    }

    .finder-item-meta .light {
        margin-left: 2px
    }
}

@media (min-width: 800px) {
    .finder {
        padding-bottom: 3rem
    }

    .finder-checkboxes {
        padding: 0 1rem 1rem
    }

    .finder-checkboxes .light {
        margin-right: 4px
    }

    .finder-item-meta {
        padding: 0 1em
    }

    .finder-item-meta .light {
        margin-left: 4px
    }
}

.list {
    padding-bottom: 3rem;
    position: relative
}

.list .menu-search input {
    font-size: 1rem
}

.list-list.is-searching .menu-item {
    display: none
}

.list-list.is-searching .menu-item.is-highlighted,
.list-list.is-searching .menu-item.is-selected {
    display: -webkit-box;
    display: flex
}

.list-item {
    border-top: 1px solid #ff470f;
    display: -webkit-box;
    display: flex;
    position: relative
}

.list-name {
    display: block;
    padding: 1rem;
    -webkit-transition: none;
    transition: none
}

.list-collections {
    bottom: 0;
    color: rgba(0, 0, 0, 0.3);
    display: none;
    font-size: 0.8em;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0
}

.list-collections a:hover {
    text-decoration: underline
}

.list-collections strong {
    color: inherit;
    text-transform: capitalize
}

@media (min-width: 800px) {

    .list-name,
    .list-collections {
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        padding: 1rem
    }

    .list-name {
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 1
    }

    .list-item {
        -webkit-box-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        justify-content: flex-start
    }
}



.index-collections {
    line-height: 1.2
}

.index-collections .container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.index-collections a,
.index-collections strong {
    border-radius: 2px;
    padding: 3px 6px
}

.index-collections a:hover {
    background: #ff470f;
    color: #fff
}

@media (max-width: 799px) {
    .index-collections {
        padding: 1rem 1rem 0
    }
}

@media (min-width: 800px) {
    .index-collections {
        border-bottom: 1px solid #e6e6e6;
        padding: 1rem
    }

    .index-collections .container {
        padding: 0 1rem
    }

    .index-collections strong {
        padding-left: 0
    }
}
