h1,
h2,
h3,
h4,
h5,
h6 {
    color: {{ .Get "title_text" }}
}

a {
    color: {{ .Get "primary" }}
}

a:hover {
    color: {{ .Get "primary_dark" }}
}

.nav-bg {
    background: {{ .Get "menu_bg" }}
}
.navbar-bg {
    background: {{ .Get "navbar_bg" }}
}
.navbar-text span {
    color: {{ .Get "navbar_text" }}
}
.navbar-text a:hover {
    color: {{ .Get "navbar_text_hover" }}
}
.header-bg {
    background: {{ .Get "menu_bg" }}
}
.submenu {
    background: {{ .Get "submenu_bg" }}
}
@media (min-width: 56.25em) {
    .submenu {
        background: {{ .Get "menu_bg" }}
    }
}
.menu-item__link,
.menu-item__link:visited {
    color: {{ .Get "menu_text" }}
}
.menu-item__link:hover,
.menu-item__link:active {
    color: {{ .Get "menu_text_hover" }}
}
.menu-item__link:hover,
.submenu-item__link:hover {
    background: {{ .Get "menu_hover_bg" }}
}
.submenu-item__link,
.submenu-item__link:visited {
    color: {{ .Get "menu_text" }}
}
.submenu-item__link:hover,
.submenu-item__link:active {
    color: {{ .Get "menu_text_hover" }}
}

.footer-widget__bg {
    background: {{ .Get "footer_bg"}}
}
.widget-footer__title {
    color: {{ .Get "widget_title" }}
}
.menu-footer__link,
.widget-footer p,
.widget-footer span,
.widget-footer li {
    color: {{ .Get "widget_text" }}
}
.menu-footer__link:hover {
    color: {{ .Get "widget_text_hover" }}
}
.post-card__link {
    color: {{ .Get "title_text"}}
}
.post-card__link:hover,
.post-feed__title:hover {
    color: {{ .Get "primary" }}
}
.pagination-link {
    color: {{ .Get "pagination" }};
    border: 1px solid {{ .Get "pagination" }}
}
.related-post__link {
    color: {{ .Get "title_text" }}
}
.related-post__link:hover {
    color: {{ .Get "link_hover_text" }}
}
.pagination-link:active,
.pagination-link:hover,
.pagination-item--current a {
    color: #fff;
    background: {{ .Get "pagination" }}
}
.footer-copyright {
    color: {{ .Get "footer_text"}};
    background: {{ .Get "footer_bg"}}
}