/* Pagination
/* ---------------------------------------------------------- */

.pagination-wrapper {
    position: relative;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1em;
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination-link {
    color: var(--secondary-text-color);
    padding: 4px 10px;
    margin-right: 2px;
    border: 1px solid var(--border-color);
    transition: all .2s ease-out;

    &:hover {
        color: var(--light-text-color);
        text-decoration: none;
        background: var(--primary-color);
        border: 1px solid var(--primary-color);
        transition: all .2s ease-out;
    }
}

.pagination-item--current a {
    color: var(--light-text-color);
    background: var(--primary-color);
}

.pagination-prev,
.pagination-next {
    padding: 6px 12px;

    &:hover {
        text-decoration: none;
    }
}

.pagination-prev {
    float: left;
}

.pagination-next {
    float: right;
}

@media (--phone-screen) {
    .pagination-link {
        display: inline-block;
        margin-bottom: 1em;
    }
}