/* Sidebar Area
/* ---------------------------------------------------------- */

.sidebar-widget {
    margin-bottom: 1em;
}

.widget-title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.widget-product__title {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

/*widget featured*/

.widget__featured {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2%;
    margin-right: -2%;
}

.widget__featured-product {
    flex-basis: 48%;
    padding-left: 2%;
    padding-right: 2%;
}

.widget__featured-info {
    font-size: 1.4rem;
    text-align: center;
    padding-top: 1em;

    & a {
        color: var(--primary-text-color);

        &:hover {
            color: var(--hovered-link-color);
            text-decoration: none;
        }
    }
}

/*widget product*/

.widget-product__cats {
    padding-right: 1.2em;
}

.widget-product__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget-product__list-item {
    padding: 6px 0;
    margin: 0;
    border-bottom: 2px solid var(--body-dark-bg);
}

.widget-product__link {
    color: var(--secondary-text-color);

    &:hover {
        color: var(--hovered-link-color);
        text-decoration: none;
    }
}

.widget-product__recent-image {
    border: 1px solid var(--border-color);
    float: left;
}

.widget-product__recent-info {
    padding-left: 80px;
}

.widget-product__recent-link {
    color: var(--secondary-text-color);

    &:hover {
        color: var(--hovered-link-color);
        text-decoration: none;
    }
}

.widget-product__recent-title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

/*Widget resent post*/

.widget-post {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed var(--border-color);
    padding: 1em 0;
/*
    
    &:nth-child(odd) {
        background: var(--body-light-bg);
    }

    &:nth-child(even) {
        background: var(--body-dark-bg);
    }
*/
}

.widget-post__media {
    flex-basis: 30%;
    padding: 0.5em 0;
}

.widget-post__body {
    flex-basis: 70%;
    padding-left: 1em;
}

.widget-post__title-link {
    color: var(--secondary-text-color);

    &:hover {
        text-decoration: none;
        color: var(--link-color);
    }
}

.widget-post__title {
    font-size: 1.5rem;
    padding: 0.5em 0;
    margin: 0;
}

.widget-post__meta {
    display: none;
}

@media (--phone-screen) {
    .widget-post__title {
        font-size: 1.4rem;
    }
}

@media (--tablet-screen) {
    .widget-post__title {
        font-size: 1.6rem;
        font-weight: 500;
    }
    
    .widget-post__meta {
        display: block;
    }
    
    .widget-post__published {
        font-size: 1.3rem;
        font-style: italic;
        color: var(--secondary-text-color);
    }
}

@media (--desktop-screen) {
    .widget-post {
        padding: 0;
    }
}

/*widget categories*/

.widget-cats__items,
.widget-tags__items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget-cats__item,
.widget-tags__item {
    text-transform: capitalize;
    padding: 0.5em 0;
    margin: 0;
    border-bottom: 1px solid var(--border-color);

    & a {
        color: var(--secondary-text-color);
    }

    & a:hover {
        text-decoration: none;
        color: var(--link-color);
    }
}

.widget-cloud__items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget-cloud__item {
    display: inline-block;
    padding: 0;
    margin: 0 0.25em 1em;
}

.cloud-link {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background: var(--body-dark-bg);
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
        color: var(--primary-text-color);
        background: var(--body-light-bg);
        text-decoration: none;
    }
}