h1,
h2,
h3,
h4,
h5,
h6,
.title {
    color: var(--primary-text-color);
}

a,
.invert:hover,
.invert:active,
.invert:focus,
.title:hover,
.title:active,
.title:focus {
    color: var(--link-color)
}

a:hover,
a:active,
a:focus {
    color: var(--hovered-link-color)
}

.invert {
    color: var(--secondary-text-color)
}

.header-bg {
    background: var(--main-bg)
}
.submenu {
    background: var(--main-bg)
}
@media (min-width: 56.25em) {
    .submenu {
        background: var(--main-bg)
    }
}
.menu li a,
.menu li a:visited {
    color: var(--primary-text-color)
}
.menu li a:hover,
.menu li a:active {
    color: var(--hovered-link-color)
}
.submenu li a:hover {
    background: var(--body-light-bg)
}
.submenu li a,
.submenu li a:visited {
    color: var(--primary-text-color)
}
.submenu li a:hover,
.submenu li a:active {
    color: var(--hovered-link-color)
}

.footer-widget__bg {
    background: var(--footer-bg)
}
.widget-footer__title {
    color: var(--widget-title)
}
.menu-footer__link,
.widget-footer p,
.widget-footer span,
.widget-footer li {
    color: var(--widget-text)
}
.menu-footer__link:hover {
    color: var(--widget-text-hover)
}
.post-card__link,
.feed__link {
    color: var(--primary-text-color);
}
.post-card__link:hover,
.feed__link:hover {
    color: var(--hovered-link-color)
}
.pagination-link {
    color: var(--pagination-color);
    border: 1px solid var(--pagination-color)
}
.related-post__link {
    color: var(--primary-text-color)
}
.related-post__link:hover {
    color: var(--hovered-link-color)
}
.pagination-link:active,
.pagination-link:hover,
.pagination-item--current a {
    color: #fff;
    background: var(--pagination-color)
}
.footer-copyright {
    color: var(--footer-text);
    background: var(--footer-bg)
}