{{ define "main" }}
<main id="site-main">
    <div class="grid-content">
        <div class="grid-wrapper">
            <header class="page-header is-center author__header">
                <h4>{{.Title}}</h4>
            </header>

            <table>
                <tr>
                    <td style="position: relative">
                        <input type="text" id="autocomplete">
                        <input type="text" id="userinput" placeholder="Search by movie title ...">
                    </td>
                </tr>
            </table>
            <div id="suggestions"></div>
            
            
                        {{ "<!-- search -->" | safeHTML }}
            <form class="form-inline position-relative ml-lg-4" action="{{ .Site.BaseURL }}/search">
              <input class="form-control px-0 w-100" type="search" placeholder="Search" id="search-query" name="s">
              <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button>
            </form>

        </div>
    </div>

    <div class="grid-content">
        <div class="grid-wrapper post-wrapper">
            <div class="post">
                <div id="search-results"></div>
                <script id="search-result-template" type="text/x-js-template">
                    <ul class="search-result list-unstyled" id="summary-${key}">
            <li class="border-bottom mb-4 pb-3">
              <h4><a class="text-dark" href="${link}">${title}</a></h4>
            ${ isset thumbnail }<img class="post__image lazyload img" src="${thumbnail}" alt="${title}">${ end }
              <p>${snippet}</p>
              ${ isset tags }<p>Tags: ${tags}</p>${ end }
         
            </li>
          </ul>
        </script>
            </div>

            {{ partial "sidebar.html" . }}
        </div>
    </div>
</main>
{{ end }}