<div class="post-title__wrapper space--top">
    <div {{ with .Get "class" }}class="title-bg {{.}}"{{ end }}>
        <section class="post-title__inner">
            <h1 class="post-title-h1 light-text-color is-center {{.Get "text-weight"}}"><strong>{{.Get "text"}}</strong>{{.Get "title"}}</h1>
            <div {{ with .Get "class" }}class="title-line {{.}}"{{ end }}></div>
            <div class="post-media">
                <figure class="reg-img">
                    <img class="post-image" src="{{.Get "src" }}" alt="{{.Get "alt"}}">
                </figure>
            </div>
        </section>
    </div>
</div>