<aside class="property__preview col-span-1 lg:col-span-2 mb-6">
    <div class="shadow-md rounded-b-lg">
        <div
            class="flex justify-start items-center bg-gray-100 border border-solid border-gray-300 rounded-t-lg border-b-0 pl-2 h-8">
            <i class="block bg-red-400 w-2 h-2 rounded-full mr-2"></i>
            <i class="block bg-amber-400 w-2 h-2 rounded-full mr-2"></i>
            <i class="block bg-green-400 w-2 h-2 rounded-full"></i>
        </div>
        <div class="border border-solid border-gray-300 rounded-b-lg p-2">
            {{ .Inner  }}
        </div>
    </div>
</aside>