<div class="docs__table lg:w-3/4 mx-auto shadow-md mb-6">
    <header class="border-b border-solid border-gray-200 bg-gray-100 pt-4 px-4 mb-4">
        <h3>Isi Konten</h3>
    </header>
    <div class="docs__table-content px-4 pb-6">
        {{ .Page.TableOfContents }}
    </div>
</div>

<style>
.docs__table-content ul {
    font-size: 0.875rem;
    list-style: lower-roman;
    padding-left: 1.5em;
}

.docs__table-content ul li {
    margin-bottom: 0.5em;
}

.docs__table-content ul ul {
    padding-top: 0.5em;
    padding-left: 1.5em;
}

.docs__table-content ul li a {
    color: #4a5568;
}

.docs__table-content ul li a:hover {
    color: #00a396;
    text-decoration: none;
}
</style>